@import "tailwindcss";

.bg-primary {
  background-color: #1d4ed8;
}


@theme {
  --color-primary: #008c82;
}
@layer base {
  /* Chrome, Edge, Safari */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background: #00A699;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #008f84;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #00A699 #f1f1f1;
  }
}